<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Presentation in Sync</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href=""> -->
	<style>
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed,
		figure, figcaption, footer, header, hgroup,
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure,
		footer, header, hgroup, menu, nav, section {
		display: block;
		}
		body {
		line-height: 1;
		}
		ol, ul {
		list-style: none;
		}
		blockquote, q {
		quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
		content: '';
		content: none;
		}
		table {
		border-collapse: collapse;
		border-spacing: 0;
		}

		 #image {
			 max-width: 100%;
			 transition: opacity 0.5s ease-in-out;
		 }
	</style>

	<!-- <link rel="icon" type="image/png" href="https://apollo.qdraw.eu/ml/favicon.png" /> -->
  </head>
  <body>
	  <script src="socket.io/socket.io.js"></script>

<script>
	function next() {
		document.querySelector("#image").style.opacity = 0;
		socket.emit('next', {});
	}
	function prev() {
		document.querySelector("#image").style.opacity = 0;
		socket.emit('prev', {});
	}

	var imgurl = undefined;


	if (location.pathname.split("/").length >= 3) {
		var socket = io({
			path: "/" + location.pathname.split("/")[1]
		});
	}
	if (location.pathname.split("/").length === 2) {
		var socket = io();
	}

    socket.on('status', function (data) {
		console.log(data.image);
		if (data.image !== undefined) {
			document.querySelector("#image").style.opacity = 0;
			setTimeout(function(){
				document.querySelector("#image").style.opacity = 1;
				document.querySelector("#image").src = data.image;
			}, 500);
		}
     });
</script>
	<!-- <a href="javascript:prev()"><==</a>
	<a href="javascript:next()">==></a>
	<br /> -->
	<img src="#" alt="" id="image" />
  </body>
</html>
